<nav>
  <div class="nav-wrapper black">
    <a href="#" class="brand-logo" style="y:-20"><i class="material-icons">flight_land</i>Logo</a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="waves-effect waves-light btn" onclick="document.getElementById('id01').style.display='block'"
          style="width:auto;">Login</a></li>


      <li><a class="waves-effect waves-light btn modal-trigger" href="#modal1" onclick="
          document.getElementById('id02').style.display='block'" style=" width:auto;">Sign Up</a></li>
    </ul>
  </div>
</nav>

<!--Paralax Banner-->
<div id="index-banner" class="parallax-container">

  <div class="section no-pad-bot">

    <div class="container">
      <h1>Name of App</h1>
      <br><br>
    </div>
    <p>description of what we want to say here<p>
  </div>
  <div class="parallax"><img src="/img/boarding-pass-euro-ticket-69866.jpg" alt="boarding pass image"></div>
</div>

<!-- Modal Test for Sign Up -->
<div id="modal1" class="modal">
  <div>
    <a class="modal-close"><i class="material-icons">close</i></a>
  </div>
  <div class="modal-content">
    <h4>Account Sign Up</h4>
    <p>Sign up with us to start planning your trips!</p>

    <div class="row">
      <form class="col s12" action="/controllers/register-controller" method="POST">
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="username" type="text" class="validate">
            <label for="username" name="username">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password" name="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password" name="password-repeat">Repeat Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email" name="email">Email</label>
          </div>
        </div>
        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <div class="col s6">
      <a href="#!" class="modal-close waves-effect waves-green btn red darken-4 left">Cancel</a>
    </div>
    <div class="col s6">
      <a href="#!" class="modal-close waves-effect waves-green btn green accent-4 signupbtn">Sign Up</a>
    </div>
  </div>
</div>


<!--Modal for Login-->
<div id="id01" class="modal">

  <form class="modal-content animate" action="/controllers/authenticate-controller" method="post">

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" name="username_r" placeholder="username" required>

      <input type="password" name="password_r" placeholder="Password" required>


      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#929392">
      <button type="button" onclick="document.getElementById('id01').style.display='none'"
        class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>



<script>
  // Get the modal
  var modal = document.getElementById('id02');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == moda2) {
      modal.style.display = "none";
    }
  }
</script>

<script>
  // Get the modal
  var modal = document.getElementById('id01');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {

      modal.style.display = "none";
    }
  }
</script>