<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <a href="/" class="btn btn-primary">Log out </a>
        
          <p>
            <h1>
            <div class="jampotron">
              <div class="container">
                <div class="jumbotron">
                  <h1>WElcomme Back To Your profile page</h1>

                      <div class="card" style="width: 18rem;">
                          <img src="..." class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
                          </div>
                        </div>
               
                </div>
              
              </div>
              
                         {{!-- </h1>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{example.text}}</p>
          <p>
            <strong>Description:</strong> {{example.description}}</p> --}}

            {{!-- <a href="/">← Back To Home</a> --}}
        </div>
      </div>
    </div>
  </div>
</div>
<style>
 body{

   background-image: none;;
 }


</style>