<div class="nav-wrapper black" style="color:antiquewhite;">
    {{#if user}}
    <h5>Welcome back {{{user}}}!</h5>
    <br />
    <div class="row " style="position:fixed;right:20px;top:10px;z-index:5">
        <a class="btn btn-info btn-lg" class="glyphicon glyphicon-log-ou" href="/" style=" width:auto;">log out</a>
    </div>
    <div class="row " style="position:fixed;right:150px;top:10px;z-index:5;">
        <form action="/controllers/profile-controller" method="post">
            <input type="hidden" type="hidden" name="username" value={{{user}}}>

            <button class="btn btn-info btn-lg" class="glyphicon glyphicon-log-ou" type="submit"
                style=" width:auto;">Profile </button>
        </form>
    </div>
</div>
{{else}}
<h4>
    <p>Please <a href='/'>Log In</a></p>
</h4>
{{/if}}
</div>

<div class="container">
    <div class="row">
        <div class="col s12 center">
            <h1 class="center grey-text trip-planner">Day-Dreamer!</h1>
            <p class="center grey-text ">Now that we know where you are going - build out the details here!</p>
        </div>
    </div>
</div>

<!--Flights parallax-->
<div id="index-banner" class="parallax-container" style="height: 200px;">
    <div class="section no-pad-bot">
        <h5 class="col-s5 offset-s7 parallaxText">Flights</h5>
    </div>
    <div class="parallax"><img src="/img/airplane2.jpg" alt="airplane image">
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="divider"></div>
        <br>
        <div class="row">
            <div data-skyscanner-widget="SearchWidget"></div>
        </div>
    </div>
</div>

<!--Hotels parallax-->
<div id="index-banner" class="parallax-container" style="height: 200px;">
    <div class="section no-pad-bot">
        <h5 class="col-s5 offset-s7 parallaxText">Hotels</h5>
    </div>
    <div class="parallax"><img src="/img/hotel.jpg" alt="hotel hallway image">
    </div>
</div>
<div class="container">
    <div class="divider"></div>
    <br>
    <div class="row center">
        <a class="btn teal accent-1 black-text" href=''>Search Hotels</a>
    </div>
</div>

<!--Food parallax-->
<div id="index-banner" class="parallax-container" style="height: 200px;">
    <div class="section no-pad-bot">
        <h5 class="col-s5 offset-s7 parallaxText">Food</h5>
    </div>
    <div class="parallax"><img src="/img/food.jpg" alt="food table image">
    </div>
</div>
<div class="container">
    <div class="divider"></div>
    <br>
    <div class="row center">
        <div class="w3-third w3-section">
            <div id="overflowTest" class="w3-card-4">
                <div class="card col s12 left">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" id="destination-image"
                            src="https://notablelife.com/media/2015/07/resto.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Find the best Restaurants<i
                                class="material-icons right">more_vert</i></span>
                        <input id="destination" type="hidden" destination="username" value={{{destination}}}>
                        <p><i>trip name goes here </i></p>
                    </div>
                    <div class="card-reveal">
                        <div class="message col-md-12"></div>
                        <span class="card-title grey-text "><i>Close</i>
                        </span>
                        <div id="overflowTest" class="jumbotron jumbotron-billboard text-center">
                            <div class="container pt">
                                <div class="mt-5 text-color">
                                    <h4>Find the best Restaurants</h4>
                                </div>
                                <div class="col-xs-6 pl-0 pr-0">
                                    <input id="getText" type="text" class="form-control"
                                        placeholder="Enter Restaurant Type">
                                </div>
                                <button id="getMessage" class="btn btn-success col-xs-2">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Events parallax-->
<div id="index-banner" class="parallax-container" style="height: 200px;">
    <div class="section no-pad-bot">
        <h5 class="col-s5 offset-s7 parallaxText">Events</h5>
    </div>
    <div class="parallax"><img src="/img/celebration.jpg" alt="fireworks image">
    </div>
</div>
<div class="container">
    <div class="divider"></div>
    <br>
    <div class="row center">

        <div class="center">
            <div class="input-field col s12">
                <input value="Paris" id="event_name2" type="text" class="validate">
                <label class="active" for="event_name2">Search Events by Location</label>
                <a class="waves-effect waves-light btn teal accent-1 black-text">Search</a>
            </div>
        </div>
        <div class="row">
            <div class="card col s4">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" id="event-image">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4" id="event_name">Your Event Here<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="#">Link to event</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4" id="event_name2">Event<i
                            class="material-icons right">close</i></span>
                    <p style="font-size: 10pt;" id="venue_name"></p>
                    <p style="font-size: 10pt;" id="venue_address"></p>
                    <p style="font-size: 10pt;" id="location_name"></p>
                    <p style="font-size: 10pt;" id="start_time"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#getMessage").on("click", function () {
            var valueSearchBox = $('#getText').val()
            if (valueSearchBox === "") {
                return;
            }
            select();
        });
        //--------------------------------------------------SEARCH BY CITY-----------------------------------------
        function select() {
            var address = $('#destination').val();
            var valueSearchBox = $('#getText').val()
            var searchCity = "&q=" + valueSearchBox;
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "https://developers.zomato.com/api/v2.1/search?entity_id=" + address + "&entity_type=city" + searchCity + "&count=20",
                "method": "GET",
                "headers": {
                    "user-key": "967e2e08ce22588b1668ae3b432bf765",
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }

            $.getJSON(settings, function (data) {

                data = data.restaurants;
                var html = "";

                $.each(data, function (index, value) {

                    var x = data[index];
                    $.each(x, function (index, value) {
                        var location = x.restaurant.location;
                        var userRating = x.restaurant.user_rating;
                        html += "<div class='data img-rounded'>";
                        html += "<div class='rating'>";
                        html += "<span title='" + userRating.rating_text + "'><p style='color:white;background-color:#" + userRating.rating_color + ";border-radius:4px;border:none;padding:2px 10px 2px 10px;text-align: center;text-decoration:none;display:inline-block;font-size:16px;float:right;'><strong>" + userRating.aggregate_rating + "</strong></p></span><br>";
                        html += "  <strong class='text-info'>" + userRating.votes + " votes</strong>";
                        html += "</div>";
                        html += "<img class='resimg img-rounded' src=" + value.thumb + " alt='Restaurant Image' height='185' width='185'>";
                        html += "<a href=" + value.url + " target='_blank' class='action_link'><h2 style='color:red;'><strong>" + value.name + "</strong></h2></a>";
                        html += "  <strong class='text-primary'>" + location.locality + "</strong><br>";
                        html += "  <h6 style='color:grey;'><strong>" + location.address + "</strong></h6><hr>";
                        html += "  <strong>CUISINES</strong>: " + value.cuisines + "<br>";
                        html += "  <strong>COST FOR TWO</strong>: " + value.currency + value.average_cost_for_two + "<br>";
                        html += "</div><br>";
                    });
                });
                $(".message").html(html);
            });

        }
        //--------------------------------------------------------------------------------------------------------
        $("#select_id").change(function () {
            select();
        });
    });
</script>